$section_width:100%;
$s_max_w_comp:1140px;
$header_h:50px;
//main text color
$main_t_c1:white;
$main_t_c2:white;


$footer_BG: #153356;

@mixin font_Lato () {
    font-family: "Lato",Arial;
}
@mixin font_mont () {
    font-family: "Montserrat",sans-serif;
}



.display_none {
    display: none !important;
}

body{
    overflow-x:hidden; 
}

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    position: relative;
    display: grid;
    grid-template: auto/100%;


    justify-content: center;
}

.popUps_container {
    // position: fixed;
    width: 100%;
    // height: 100%;
    z-index: 1;
}

.conact_information{
    position: fixed;
    background: rgba(32, 32, 32, 0.787);
    border-radius: 1rem;

    text-align: center;

    padding: 10px 20px;

    & p {
        @include font_Lato ();
        margin-bottom: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        text-decoration: none;
        color: #ffffff;
        border-radius: 0.2rem;
    }
}

.lastSN {
    margin-right: 0px !important;
}

.source_information {
    position: absolute;
    width: 300px;
    padding: 10px 15px;

    text-align: center;

    background: rgb(32, 32, 32);
    border: 1px solid rgb(24, 24, 24);
    border-radius: 0.5rem;

    // overflow:scroll;
}
.SI_C_desc {
    margin-top: 0 !important;
    padding-bottom: 15px;
    border-bottom: 1px solid $main_t_c1;

}
.copyright_text {
    margin-top: 10px;
    color: $main_t_c1 !important;
    font-size: 1.1rem !important;
}
.copyright-link {
    color: #587bd6 !important;
}

// .copyright_box {
//     &:last-child {
//         border-top: 1px solid $main_t_c1;
//     }
// }

.copyrgiht_space {
    padding: 15px 0;
    text-align: left;
    border-bottom: 1px solid $main_t_c1;
    
}
.C_text {
    font-size: 1rem !important;
    color: $main_t_c1 !important;
}

.C_img_box {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}
.C_img {
    height: 30px;
    margin-right: 10px;
}
.C_author {
    display: inline;
}
.C_link{
    display: inline;
    color: #587bd6 !important;
}





.section {
    position: relative;
    width: $section_width;
    max-width: $s_max_w_comp;
    display: grid;
    justify-self: center;

    padding: 0 20px;
    z-index: 0;
}

////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////HEADER//////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////

header {
    position: fixed;
    display: grid;
    width: 100%;
    background: rgba(32, 32, 32, 0);
    z-index: 1000;
}

.header_menu{
    grid-template-columns: 2fr 10fr;
    grid-template-rows: repeat(auto,1fr);

    justify-self: center;
    align-items: center;
    height: $header_h;

    // padding-left:25px;
}

.site_logo { 
    @include font_Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-decoration:none;

    color: #FFFFFF;
}
.h_nav,.h_nav_mini_icon {
    justify-self: end;
}

.nav-el {
    display: inline;
    padding:($header_h - 16)/2 25px;

    @include font_Lato;;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    text-decoration:none;

    color: $main_t_c1;
    border-radius: 0.2rem;

    cursor: pointer;

    transition:background 800ms;
    &:hover {
        background: rgba(32, 32, 32, 0.7);
    }
}

//HEADER NABIGATION MINI

.h_nav_mini_icon_box {
    position: absolute;
    display: flex;
    justify-content: center;

    top:0;
    width: 100%;
    padding-top: $header_h+15px;
    padding-bottom:$header_h ;
    background: rgba(32, 32, 32, 0.9);
    backdrop-filter: blur(2px);

    transform: translate(0,-100%);
    z-index: -1;
}

.h_nav_mini {
    text-align: center;
    list-style-type:none;
}

.h_nav_mini_icon {
    display: none;
    width: 20px;
    cursor: pointer;
    margin-right: 15px;
}
// .h_nav_mini {
// }
.h_nav_mini  {
    width: 100%;
}
.nav_miniItem,.nav-el-mini {
    display: block;
    text-align: center;
}

.nav-el-mini {
    font-size: 18px;
    height: 100%;
    padding:15px 0px;
}

//END///////////////////

///////////////////////////////////////////////////////////////
//END HEADER///////////////////////////////////////////////////
///////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////
////////BANNER//////////////////////////////////////////////
///////////////////////////////////////////////////////////////
.banner{
    position: relative;
    display: block;
    
    // margin-right: calc(-1 * (100vw - 100%));
    width: 100%;
    height: 600/980*100vh;
    // min-height: 500px;
    z-index: -1;

    overflow: hidden;
}

.banner_img {
    margin-right: calc(-1 * (100vw - 100%));
    width: 100%;
    // min-width: 1920px;
    min-width: 1920px;
    // min-width: 1680px;
    position: absolute;
    left:50%;
    transform: translate(-50%,0);
    bottom: 0px;
    z-index: -2;
}

.banner_content {
    display: grid;
    height: 100%;
    margin: auto auto;
    grid-template-columns: minmax(400px,6fr) 6fr;
    
}
.banner_header_box {
    align-self: center;
    // padding-left :25px;
    padding-right: 20%;
    transform: translate(0,-20%);
}
.banner_text {
    display: inline;
    text-align: end;
}
.banner-t {
    @include font_Lato;
    font-size: 2em;
    color: $main_t_c1;
}
.banner-h{
    @include font_Lato;
    font-weight: bold;
    font-size: 50px;
    line-height: 1.2em;
    color: $main_t_c1;
}
// .BT_tmp {
//     background: #000;
// }

.banner_cont_img_box {
    position: relative;
    align-self: end;
}

@mixin bn_cont_i($w:100%,$l:12%,$b:-30px) {
    width: $w;
    left:$l;
    bottom:$b;
}

.banner_cont_img {
    position: absolute;

    @include bn_cont_i;
}

///////////////////////////////////////////////////////////////
//END_BANNER///////////////////////////////////////////////////
///////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////
//ABOUT_SITE_CONTENT///////////////////////////////////////////
///////////////////////////////////////////////////////////////

.about_site {

    margin-top: 40px;

    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
 
}

.AS_block {
    text-align: center;
    padding: 0 25px;
    margin-bottom: 15px;
}

.as_content_img {
    height: 85px;
}
.as_content {
    & h3 {
        margin-top: 15px;
        margin-bottom: 20px;
        @include font_mont;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 72.63%;
        /* or 17px */


        color: #2B2A2A;
    }
    & p {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 123.99%;
        /* or 27px */

        text-align: center;
        letter-spacing: 0.03em;

        color: #3A3A3A;
    }
}
//////////////////////////////////////////////////////////////////////
//END OF ABOUT_SITE_CONTENT///////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

.section_header {
    @include font_Lato();
    font-style: normal;
    font-weight: bold;
    font-size: 38px;

    padding-top: 100px;
    padding-bottom: 60px;

    margin-left: 10px;

    color: #242424;

}

//////////////////////////////////////////////////////////////////////
//ABOUT ME////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

.about_content {
    display: grid;
    grid-template-columns: 7fr 5fr;
}

.about_me_container {
    padding-left: 40px;
    //CAN BE DELETED 
    padding-right: 10%;
}

.about-me-t {
    @include font_Lato();
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.03em;

    color: #2e2e2e;

    & span {
        color: #101010;
    }
}
.about-me-uses-page {
    color: #2e2e2e;
}

.skills {
    &:first-child {
        margin-top: 30px;
    }
    margin-top: 14px;
    margin-bottom: 12px;
}
.skills_H {
    margin-bottom: 12px;
}

//SKILLS IMG

.skills_img_box {

    display: flex;
    flex-wrap: wrap;
    align-items:center;
    vertical-align: middle;

}

.nestedItem_skills {
    display: flex;
    align-items:center;
    flex-wrap: wrap;
}

.about-me-t-link {
    text-decoration: none;
    font-weight: bold;
    color:#244086;
}

.skills_img {
    margin-right: 15px;
    image-rendering: -webkit-optimize-contrast;
    margin-bottom: 8px;
    // height: 65px;
}
.skills_img[src ^= "./src/assets/icons/sculpt_icon.png"] {
    image-rendering: auto !important;
}

.skills_bracket:first-child {
    margin-right: 5px;
}
.skills_bracket:last-child {
    margin-right: 15px;
}

.skills_bracket {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;

    color: #000000;
}
// .nestedItem_skills {
//     display: inline;
// }
.portrait_div {
    align-self: end;
}

.portrait {
    image-rendering: -webkit-optimize-contrast;
    width: 100%;
    max-width: auto;
    min-width: 250px;
    // width: 425px;
}

//////////////////////////////////////////////////////////////////////
//END ABOUT ME////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////
//FOOTER//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

footer {
    display: grid;
    grid-template: auto/ 100%;

    width: 100%;
    // height: 170px;

    margin-top: 100px;

    background: $footer_BG;
    overflow: hidden;
}
.footer_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}
.footer_nav {
    display: flex;
    flex-wrap: wrap;
}
.f_navItem {
display: inline;

margin-right: 25px;
margin-bottom: 25px;
padding: 2px 5px;
border-radius: 0.5rem;

@include font_Lato();
font-style: normal;
font-weight: normal;
font-size: 17px;

text-decoration: none;

color: $main_t_c1;

cursor: pointer;

&:hover {
    background: #295586;
}
}
.copyright_mark:hover {
    background: $footer_BG;
}

.source_ul {
    list-style-type:none;
    text-align: center;
}

$footer_HR_size:1px;

.footer_HR {
    justify-self: center;
    width: 90%;
    // min-width: 900px;
    height: $footer_HR_size;
    background: white;

    &::after {
        position: absolute;
        content: "";
        left: 0;
        width: $footer_HR_size;
        height: 10px;
        background: white;
    }
    &::before {
        position: absolute;
        content: "";
        right: 0;
        width: $footer_HR_size;
        height: 10px;
        background: white;
    }
}

.footer_network {
    display: flex;

    margin-top:20px;
    margin-bottom:20px;

    align-items: center;

    justify-content: space-between;
}


.socialNetwork {
    width: 20px;
    height: 20px;
    color:$main_t_c1;
    margin-right: 15px;
}

.scrollToTop {
    display: flex;
    align-items:center;

    cursor: pointer;

    & span { 
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;

        margin-right: 15px;

        color: $main_t_c1;
    }

    & img {
        width: 40px;
        height: 40px;
    }
}

//////////////////////////////////////////////////////////////////////
//END OF FOOTER///////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////



//////////////////////////////////////////////////////////////////////
//MEDIA //////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1440px){
    .banner_img {
        min-width: 1800px;
        bottom: -30px;
    }
    .banner_cont_img {
        @include bn_cont_i(90%,12%,-40px);
    }
    .banner{
        // min-width: 1420px;
        height: 500px;
    }
    .about_site {
        margin-top: 30px;
    }
    .as_content_img {
        height: 70px;
    }
    .as_content {
        & h3 {
            margin-top: 10px;
            margin-bottom: 15px;
            font-size: 19px;
        }
        & p {
            font-size: 17px;
        }
    }
}
@media screen and (max-width: 1100px){

    .banner_content {
        grid-template-columns: 7fr 5fr;
    }

    .banner_img {
        min-width: 1720px;
        // bottom: -80px;
    }
    .banner_header_box {
        padding-right: 25%;
    }
    .banner_cont_img {
        @include bn_cont_i(110%,-4%,-30px);
        min-width: 340px;
    }

    .banner-h {
        font-size: 40px;
    }
    .banner-t {
        font-size: 1.8em;
    }

    .about_me_container {
        padding-right: 2%;
    }

}

@media screen and (max-width: 800px){

    .banner{
        height: 400px;
    }
    .banner_img {
        min-width: 1320px;
        // bottom: -80px;
    }

    .banner_header_box {
        padding-right: 12%;
    }

    .banner-h {
        font-size: 34px;
    }
    .banner-t {
        font-size: 1.4em;
    }

    .about_content  {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    .portrait {
        max-width: 400px;
    }

    .AS_block {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 580px){

    //SECTION
    .section {
        padding:0 5px;
    }
    //END SECTION

    //HEADER 

    .header_menu {
        padding:0 25px;
    }
    .h_nav {
        display: none;
    }
    .h_nav_mini_icon {
        display: block;
    }

    //END OF HEADER


    //BANNER ////////////////////////    
    .banner{
        height: 580px;
    }

    .banner_img {
        min-width: 1620px;
        left: 2%;
        bottom: -5%;
        // bottom: -80px;
    }

    .banner_cont_img {
        @include bn_cont_i(80%,15%,-10px);
        min-width: 380px;
    }

    .banner_content {
        grid-template-columns: 1fr;
    }

    // .banner_header_box {
    //     padding-right: 5%;
    // }


    .banner-h {
        font-size: 10vw;
    }
    .banner-t {
        font-size: 6vw;
    }

    //END OF BANNER /////////////////


    //ABOUT SITE/////////////////////

    .AS_block {
        padding: 0 5px;
    }

    //ENDO OF ABOUT SITE/////////////


    //ABOUT///////////////

    .about_me_container {
        padding-left: 10px;
    }

    .skills {
        font-size: 18px;
    }

    .prog_skills, .a3d_skills, .dgn_skills {
        display: none;
    }

    //END ABOUT///////////////

    //FOOTER//////////////////
    .footer_content  {
        justify-content: center;
    }

    .footer_nav {
        display: block;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .f_navItem {
        display: block;
        margin-left: 25px
    }
    .source_ul {
        margin-bottom: 25px;
        p{
            margin-bottom: 0px;
        }
    }
    
    .footer_network {
        justify-content: center;
    }

    .socialNetwork {
        width: 25px;
        height: 25px;
    }

    .scrollToTop {
        display: none;
    }

}

@media screen and (max-width: 400px){

    .banner_header_box {
        padding-right: 8%;
    }

    .banner_img {
        min-width: 1600px;
        left: -26%;
        bottom: -8%;
    }

    .banner_cont_img {
        @include bn_cont_i(80%,0%,-5px);
    }

}